/* css variables*/
:root {
  --primary-color: #d4d4d4;
  --primary-color-light: #fafafa;
  --primary-color-dark: #b9b9b9;
  --accent-color: #7d59ff;
  --accent-color-light: #c19aff;
  --accent-color-dark: #5824ac;
  --white-color: #FAFBFC;
  --light-gray-color: #C6CBD1;
  --medium-gray-color: #959DA5;
  --dark-gray-color: #2e3236;
  --bg-color: #F8F8FA;
  --code-bg-color: #F0E8E8;
}

/* normalized */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: white;
}

p {
  font-weight: 300;
  color: #4A4A4A;
}

a, a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

/* links */
.link {
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.link:hover {
  color: var(--accent-color);
}

.link--primary {
  color: var(--primary-color);
}

.link--mediumgrey {
  color: var(--medium-gray-color);
}

.link--darkgrey {
  color: var(--dark-gray-color);
  font-size: 24px;
}

.link--light {
  color: var(--accent-color);
}

/* menu */
nav {
  display: grid;
  grid-template-columns: 70px auto;
}

.menu {
  margin: 0;
  text-align: right;
  overflow: hidden;
  list-style: none;
}

.menu_center {
  text-align: center;
  overflow: hidden;
  list-style: none;
  margin-bottom: 1.5rem
}

.toggle {
  display: none;
  position: relative;
}

.toggle span,
.toggle span:before,
.toggle span:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 2px;
  background: var(--primary-color);
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  right: 0;
}

.toggle span:before {
  top: -6px;
}

.toggle span:after {
  bottom: -6px;
}

.menu__item {
  padding: 1rem;
  display: inline-block;
}

.menu__item.toggle {
  display: none;
}

/* table */

@media screen and (max-width: 600px) {
  nav {
    grid-template-columns: 70px auto;
  }

  .menu__item{
    display: none;
  }

  .menu__item.toggle {
    display: inline-block;
  }

  .menu {
    text-align: right;
    padding: 0.5rem 1rem;
  }

  .toggle {
    display: block;
  }
}

/* layout */
.wrapper {
  margin: 0 auto;
  width: 70%;
}

.footer {
  text-align: center;
  background-color: var(--primary-color);
  padding: 2rem;
  color: white;
}

/* my tweaks use <span class = ...> to highlight */
/*
.stylish_highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #aebdff 50%);
}
*/